* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F9F9F9;
    font-family: 'Roboto';
    color: #333333;
}

header {
    padding-top: 40px;
    display: flex;

}

.wrapper_w {
    display: flex;
    justify-content: center;
    width: 750px;
    background-color: #fff;
    box-shadow: 1px 1px 17px 0px rgba(209, 209, 209, 1);
    -webkit-box-shadow: 1px 1px 17px 0px rgba(209, 209, 209, 1);
    -moz-box-shadow: 1px 1px 17px 0px rgba(209, 209, 209, 1);
}

.wrapper {
    width: 655px;
    word-wrap: break-word;
    display: block;
}

.logo_img>svg {
    width: 100%;
    height: 100%;
}

.logo_img {
    height: 31px;
    width: 28px;
}

.logo_text {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 19px;
    padding-top: 10px;
    padding-left: 10px;
    color: #242424;
}

.header_text {
    font-family: 'Roboto';
    font-size: 12px;
    padding-left: 290px;
    padding-top: 9px;
    color: #333333;
    text-align: right;
    padding-bottom: 21px;
}

.header_text>p:first-child {
    padding-bottom: 10px;
}

.header_line {
    width: 100%;
    height: 1px;
    background-color: #E4E4E4;
    margin-bottom: 25px;
}

.anket_h {
    padding-bottom: 35px;
}

.pr_h2 {
    font-size: 12px;
}

.pr_text {
    font-size: 12px;
}

input {
    font-family: 'Roboto';
    background-color: #F7F7F7;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #E4E4E4;
    font-size: 14px;
    color: #464646;
    padding-left: 10px;
    outline: none;
}

.det_form_wrap.d_fi {
    padding-right: 20px;
}

select {
    font-family: 'Roboto';
    background-color: #F7F7F7;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #E4E4E4;
    font-size: 14px;
    color: #464646;
    padding-left: 10px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../img/angle-arrow-down.png");
    background-repeat: no-repeat;
    background-position-x: 93%;
    background-position-y: 10px;
    border: 1px solid #dfdfdf;
    background-size: 10px;
}

.arr>select {
    background-position-x: 96%;
}

.thi_conc>select {
    background-position-x: 96%;
}

.fou_conc>select {
    background-position-x: 96%;
}

textarea {
    height: 130px;
    resize: none;
    width: 100%;
    background-color: #F7F7F7;
    border-radius: 3px;
    border: 1px solid #E4E4E4;
    font-size: 14px;
    color: #464646;
    padding-left: 10px;
    padding-top: 15px;
    outline: none;

}

.comment_block {
    padding-bottom: 50px;
}

select::-webkit-input-placeholder {
    font-family: 'Roboto';
    color: #AEAEAE;
}

textarea::-webkit-input-placeholder {
    font-family: 'Roboto';
    color: #AEAEAE;
}

input::-webkit-input-placeholder {
    color: #AEAEAE;
}


select:focus {
    border: 1px solid #FFE553;
}

input:focus {
    border: 1px solid #FFE553;
}

.conc_f_text {
    padding-bottom: 5px;
}

.conc_form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.fir_conc {
    width: 63%;
}

.fir_conc>input {
    width: 94%;
    margin-bottom: 15px;
}

.fir_conc>select {
    width: 94%;
    margin-bottom: 15px;
}

.sec_conc {
    width: 37%;
}

.sec_conc>select {
    width: 100%;
}

.sec_conc>input {
    width: 100%;
}

.thi_conc {
    width: 49%;
}

.thi_conc>select {
    width: 92%;
}

.thi_conc>input {
    width: 92%;
}

.fou_conc {
    width: 51%;
}

.fou_conc>select {
    width: 103%;
}

.fou_conc>input {
    width: 100%;
}


.details_data {
    padding-bottom: 55px;
}

.det_form {
    width: 100%;
}

.det_form_wrap_duo {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.det_form_wrap.det_fir {
    width: 57%;
}

.det_form_wrap.det_sec {
    margin-left: 15px;
    width: 40.6%;
}

.det_fir>select {
    width: 96%;
}

.det_fir>input {
    width: 96%;
}

.det_sec>select {
    width: 100%;
}

.det_sec>input {
    width: 100%;
}

.det_form_text {
    padding-bottom: 5px;
}

.det_form_four>.det_form_wrap {
    width: 100%;

}

.det_form_four>.det_form_wrap>input {
    margin-bottom: 20px;
    width: 100%;
}

.det_form_four>.det_form_wrap>select {
    margin-bottom: 20px;
    width: 100%;
}

a {
    color: #000 !important;
    text-decoration: none
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 15px 60px 15px 60px;
    background-color: #FCDA48;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    font-size: 17px;
    font-weight: 500;
    margin: 0 10px 0 5px;
    padding: 15px 65px 15px 65px;
    transition: 0.3s;

}

.btn_place {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.zak {
    width: 40px;
    height: 22px;
    position: relative;
    top: 97px;
    left: -245px;
}

.pr_double_text {
    display: flex;
}

.circle {
    width: 11px;
    padding-right: 20px;
}

.det_form_four.g_rid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3%;
}

/* .g_rid>.det_form_wrap {
    padding-right: 20px;
} */

.in_2 {
    padding-bottom: 30px;
}

.det_sec>.izm {
    font-size: 14.7px;
}

.g_rid_fri {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 3%;
}

.str2_li {
    width: 55%;
    padding-top: 25px;
}

.fr_to {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.fr_to>input {
    width: 98%;
}

.fr_to>select {
    width: 95%;
}

@media screen and (min-width: 1100px) {
    textarea {
        font-size: 18px;
    }

    .wrapper_w {
        width: 1000px;
    }

    .det_sec>.izm {
        font-size: 18px;
    }

    .wrapper {
        width: 855px;
    }

    .logo_img {
        height: 40px;
        width: 38px;
    }

    .logo_text {
        font-size: 24px;
    }

    .header_text {
        font-size: 16px;
        padding-left: 395px;
    }

    .pr_h2 {
        font-size: 17px;
    }

    .pr_text {
        font-size: 17px;
    }

    .conc_h3 {
        font-size: 19px;
    }

    .conc_f_text {
        font-size: 18px;
    }

    input {
        font-size: 18px;
        height: 35px;
    }

    select {
        font-size: 18px;
        height: 35px;
    }

    .det_h3 {
        font-size: 17px;
    }

    .zak {
        left: -320px;
        top: 107px;
    }

    .det_form_text {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    .wrapper_w {
        width: 500px;
    }

    .wrapper {
        width: 465px;
    }

    textarea {
        font-size: 12px;
        width: 94%;
    }

    .str2_li {
        padding-top: 0px;
    }

    .det_sec>.izm {
        font-size: 14px;
    }

    .det_form_four.g_rid {
        display: block;
    }

    .g_rid_fri {
        display: block;
    }

    .header_text {
        padding-left: 150px;
    }

    .header_line {
        width: 108%;
        margin-left: -17px;
    }

    .header_text>p:first-child {
        padding-bottom: 5px;

    }

    header {
        padding-top: 20px;
    }

    .anket_h {
        font-size: 12px;
    }

    .zak>svg {
        width: 23px;
    }

    .pr_h2 {
        font-size: 12px;
    }

    .predislov>p {
        font-size: 14px;
    }

    .pr_text {
        font-size: 15px;
    }

    .conc_h3 {
        font-size: 14px;
    }

    .conc_f_text {
        font-size: 14px;
    }

    .conc_form {
        display: inline-block;
    }

    .fir_conc {
        width: 100%;
    }

    .sec_conc {
        width: 100%;
    }

    .sec_conc>input {
        width: 94%;
        margin-bottom: 15px;
    }

    .sec_conc>select {
        width: 94%;
        margin-bottom: 15px;
    }

    .thi_conc {
        width: 100%;
    }

    .thi_conc>input {
        width: 94%;
        margin-bottom: 15px;
    }

    .fou_conc>input {
        width: 94%;
        margin-bottom: 15px;
    }

    .thi_conc>select {
        width: 96%;
        margin-bottom: 15px;
    }

    .fou_conc>select {
        width: 96%;
        margin-bottom: 15px;
    }

    .fou_conc {
        width: 100%;
    }

    .det_form {
        display: inline-block;
    }

    .det_form_wrap {
        width: 100%;
    }

    .det_form_wrap_duo {
        width: 100%;
        display: inline-block;
    }

    .det_form_text {
        font-size: 14px;
    }

    .det_form_wrap.det_fir {
        width: 100%;
        padding-bottom: 15px;
    }

    .det_fir>select {
        width: 94%;
    }

    .det_fir>input {
        width: 94%;
    }

    .det_form_wrap.det_sec {
        width: 100%;
        margin: 0;
    }

    .det_sec>select {
        width: 94%;
    }

    .det_sec>input {
        width: 94%;
    }

    .det_form_wrap_duo {
        padding-bottom: 15px;
    }

    .det_form_four>.det_form_wrap>select {
        width: 96%;
        background-position-x: 96%;
    }

    .det_form_four>.det_form_wrap>input {
        width: 94%;
    }

    select {
        font-size: 12px;
    }

    input {
        font-size: 12px;
    }

    .btn {
        font-size: 14px;
        font-weight: 500;
        padding: 10px 40px 10px 40px;
        background-color: #FCDA48;
        border-radius: 5px;
        transition: 0.3s;
    }

    .btn:hover {
        font-size: 15px;
        font-weight: 500;
        margin: 0 7px 0 3px;
        padding: 12px 42px 12px 42px;
        transition: 0.3s;

    }

    .details_data {
        padding-bottom: 40px;
    }

    .zak {
        width: 0px;
        height: 22px;
        position: relative;
        top: 87px;
        left: -213px;
    }

    .fr_to>select {
        margin-bottom: 15px;
    }

    .fr_to>input {
        width: 87%;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 550px) {
    textarea {
        font-size: 12px;
        width: 97%;
        padding-top: 8px;
        padding-left: 5px;
    }

    .str2_li {
        padding-top: 0px;
    }

    .det_sec>.izm {
        font-size: 11px;
    }

    .det_form_four.g_rid {
        display: block;
    }

    .g_rid_fri {
        display: block;
    }

    .wrapper_w {
        width: 290px;
    }

    .wrapper {
        width: 265px;
    }

    .logo_img>svg {
        width: 75%;
        height: 130%;
    }

    .logo_img {
        height: 30px;
        width: 28px;
    }

    .logo_text {
        padding-left: 0;
        font-size: 11px;
        padding-top: 18px;
    }

    .header_text {
        font-size: 8px;
        padding-left: 60px;
        color: #333333;
    }

    .header_line {
        width: 111%;
        margin-left: -15px;
    }

    .header_text>p:first-child {
        padding-bottom: 5px;

    }

    header {
        padding-top: 20px;
    }

    .anket_h {
        font-size: 9px;
    }

    .zak>svg {
        width: 13px;
    }

    .pr_h2 {
        font-size: 10px;
    }

    .pr_text {
        font-size: 11px;
    }

    .conc_h3 {
        font-size: 10px;
    }

    .conc_f_text {
        font-size: 11px;
    }

    .conc_form {
        display: inline-block;
    }

    .fir_conc {
        width: 100%;
    }

    .sec_conc {
        width: 100%;
    }

    .sec_conc>select {
        width: 94%;
        margin-bottom: 15px;
    }

    .sec_conc>input {
        width: 94%;
        margin-bottom: 15px;
    }

    .thi_conc {
        width: 105%;
    }

    .thi_conc>select {
        width: 94%;
        margin-bottom: 15px;
    }

    .thi_conc>input {
        width: 90%;
        margin-bottom: 15px;
    }

    #wd {
        width: 93%;
    }

    .fou_conc>select {
        width: 99%;
        margin-bottom: 15px;
    }

    .str2_li {
        width: 101%;
    }

    .fou_conc>input {
        width: 94%;
        margin-bottom: 15px;
    }

    .fou_conc {
        width: 100%;
    }

    .det_form {
        display: inline-block;
    }

    .det_form_wrap {
        width: 100%;
    }

    .det_form_wrap_duo {
        width: 100%;
        display: inline-block;
    }

    .det_form_text {
        font-size: 11px;
    }

    .det_form_wrap.det_fir {
        width: 100%;
        padding-bottom: 15px;
    }

    .det_fir>select {
        width: 94%;
    }

    .det_fir>input {
        width: 94%;
    }

    .det_form_wrap.det_sec {
        width: 100%;
        margin: 0;
    }

    .det_sec>select {
        width: 94%;
    }

    .det_sec>input {
        width: 94%;
    }

    .det_form_wrap_duo {
        padding-bottom: 15px;
    }

    .det_form_four>.det_form_wrap>select {
        width: 98%;
    }

    .det_form_four>.det_form_wrap>input {
        width: 94%;
    }

    select {
        font-size: 12px;
    }

    input {
        font-size: 12px;
    }

    .btn {
        font-size: 14px;
        font-weight: 500;
        padding: 10px 40px 10px 40px;
        background-color: #FCDA48;
        border-radius: 5px;
        transition: 0.3s;
    }

    .btn:hover {
        font-size: 15px;
        font-weight: 500;
        margin: 0 7px 0 3px;
        padding: 12px 42px 12px 42px;
        transition: 0.3s;

    }

    .details_data {
        padding-bottom: 40px;
    }

    .zak {
        width: 0px;
        height: 22px;
        position: relative;
        top: 73.5px;
        left: -130px;
    }

    .fr_to>select {
        margin-bottom: 15px;
    }

    .fr_to>input {
        margin-bottom: 15px;
    }

    .details_data {
        padding-bottom: 0px;
    }
}



/* @media screen and (max-width: 1000px){
    .wrapper_w{
        width: 900px;
    }
    .wrapper {
        width: 755px;
    }
    .logo_img {
        height: 37px;
        width: 34px;
    }
    .logo_text {
        font-size: 22px;
    }
    .header_text {
        font-size: 14px;
        padding-left: 380px;
    }
    .pr_h2 {
        font-size: 15px;
    }
    .pr_text {
        font-size: 15px;
    }
    .conc_h3{
        font-size: 15px;
    }
    .conc_f_text{
        font-size: 17px;
    }
    input{
        font-size: 16px;
    }
    .det_h3{
        font-size: 15px;
    }
} */